html,body{
    margin:0;
    width:100%;
    height: 100%;
}

.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

.node {
  font: 7px sans-serif;
}

.node.over{
    opacity:1.0!important;
}

.node.non_over{
    opacity:0.2;
}

.node.selected_hidden{
    opacity:0.1;
    pointer-events: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#select_file {
    margin-top:10px;
}

#options
{
    padding: 10px;
    font: 12px Helvetica Neue;
    background: #CCC;
    border: solid 0px #000;
    border-radius: 4px;
    z-order: 1000;
    position: absolute;
    right: 10px;
    top: 70px;
}


#help
{
    padding: 10px;
    font: 12px Helvetica Neue;
    background: #CCC;
    border: solid 0px #000;
    border-radius: 4px;
    z-order: 1000;
    position: absolute;
    right: 10px;
    top: 20px;
}

.hidden_link{
    visibility: hidden;
}

#node_browser
{
    /*position: fixed;*/
    padding: 10px;
    font: 12px Helvetica Neue;
    background: #CCC;
    border: solid 0px #000;
    border-radius: 4px;
    z-order:1000;
    margin: 10px;
    height: 70%;
    /*width: 225px;*/
    /*max-height:30%;*/
    /*left: 20px;*/
    /*top: 20px;*/
}

#node_list
{
    width:100%;
    background: #FFF;
    height: 90%;
    margin-top:10px;
    border: solid 0px #000;
    border-radius: 4px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-size:10px;
}

/*Node list styles*/

.node_row{
    padding:5px;
    height: 30px;
    background-color: #EEE;
    margin-bottom: 1px;
}

.node_row:hover{
    background-color: #DDD;
}
.node_arrows{
    float:left;
    padding-left: 5px;
}

.node_arrow{
    height: 20px;
    width: 20px;
    padding-top:5px;
}

.node_check{
    float:left;
    margin-top:5px;
}

.node_info{
    float:right;
    padding-right:5px;
}

.node_freq{
}

.node_prob{
}

.nodes_header{
    font-size:16px;
}

svg{
    margin:auto;
    display: block;
}

.expansion{
    font-size:10px;
}

.expansion_circle{
    stroke-width:0.1px;
}

.tooltip_viz
{
    position: absolute;
    padding: 10px;
    font: 12px Helvetica Neue;
    background: #CCC;
    /*border: solid 1px #aaa;*/
    /*border-radius: 4px;*/
    pointer-events: none;
    z-order:1000;
    text-align:center;
    color: black;
}


#left_frame
{
    float:left;
    width:300px;
    height:100%;
}

#right_frame
{
    float:left;
    width:70%;
    height: 100%;
}

#files
{
    width:100%;
}


.selectors
{
    margin-top:5px;
}

.selectors span
{
    text-decoration: underline;
    color: black;
    cursor:pointer;
}

#header{
    position:fixed;
    background-image: url('../img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 0px;
    width:100%;
    border-bottom: 0.5px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

#viz_frame{
    padding-top:0px;
}