body,html{
    width:100%;
    height:100%;
    margin:0;
}

.left{

    float:left;
    margin-left: 5px;
    padding-top:0px;
    font-size:10px;
}

.zona_viz{
    float:left;
    margin-top: 60px;
}

.series
{
        background-color:#FFF;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.rect_matrix
{
    stroke:black;
    stroke-width: 0.5px;
}

.line_numbers
{
    font-family: "Helvetica Neue";
    font-size: 12px;
    text-anchor: middle;
}

.time_title
{
    font-family: "Helvetica Neue";
    font-size: 20px;
    text-anchor: middle;
}

.row_headers
{
    text-anchor: end;
    font-family: "Helvetica Neue";
    font-size: 12px;
}

.tooltip
{
    position: absolute;
    padding: 4px;
    font: 12px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-order:1000;
    text-align:center;
}

.selected_circle_time
{
    stroke:black;
    stroke-width:2px;
}

.selected_box_user
{
    stroke-width: 2px;
}

#series_select
{
    position: fixed;
    /*left: 30px;*/
    /*top: 15px;*/
    /*width:105px;*/
    /*position:fixed;*/
    padding: 8px;
    font-size: 10px;
    background: #ccc;
    /*border: solid 1px #aaa;*/
    /*border-radius: 6px;*/
    z-order:1000;
    color: black;
    width:100%;
    float:left;

}

select{
    width:100px;
}

.filters{
    margin-left: 5px;
    margin-right: 10px;
}

