body,html{
    width:100%;
    height:100%;
    margin:0;
}

#header{
    position:fixed;
    background-image: url('../img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 75px;
    width:100%;
}
.series
{
        background-color:#FFF;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        padding-top:120px;
}

.rect_matrix
{
    stroke:black;
    stroke-width: 0.5px;
}

.rect_avg{
    stroke: black;
    stroke-width: 0.5px;
}

.line_numbers
{
    font-family: "Helvetica Neue";
    font-size: 12px;
    text-anchor: middle;
}

.time_title
{
    font-family: "Helvetica Neue";
    font-size:18px;
    text-anchor: middle;
}

.row_headers
{
    text-anchor: end;
    font-family: "Helvetica Neue";
    font-size: 12px;
}

.tooltip
{
    position: absolute;
    padding: 4px;
    font: 12px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-order:1000;
    text-align:center;
}

.selected_circle_time
{
    stroke:black;
    stroke-width:2px;
}

.selected_box_user
{
    stroke-width: 2px;
}

.left
{
    float:left;
    margin-left: 5px;
    padding-top:0px;
    font-size:10px;
}

.filters
{
    float:left;
    margin-left: 5px;
    font-size:10px;
}

@media (min-width: 2000px){
    .left{
        font-size:20px;
        margin-left: 10px;
    }

    .filters
    {
        margin-left: 10px;
        font-size:20px;
    }
}

@media (max-width: 1024px){
    .left{
        font-size:8px;
        margin-left: 3px;
    }

    .filters
    {
        margin-left: 3px;
        font-size:8px;
    }
}


#series_select
{
    position: fixed;
    top:75px;
    /*left: 30px;*/
    /*width:105px;*/
    /*position:fixed;*/
    padding: 8px;
    font-size: 12px;
    background: #ccc;
    /*border: solid 1px #aaa;*/
    /*border-radius: 6px;*/
    z-index:1000;
    color: black;
    width:100%;
    float:left;

}

#infobox
{
    position: absolute;
    left: 20px;
    top: 160px;
    padding: 8px;
    font-size: 12px;
    background: #fff;
    border: solid 1px #000;
    z-order: 1000;
    color: black;
    width: 170px;
    font-family: Helvetica Neue, Helvetica, Arial;

}


select{
    width:100px;
}

/*AXIS*/

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #AAA;
  stroke-dasharray: 2,2;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.axis .minor line {
  stroke: #AAA;
  stroke-dasharray: 2,2;
}

.x.axis path {
    fill:none;
    stroke: #AAA;
}

.y.axis .tick line{
  stroke: #AAA;
  stroke-dasharray: 2,2;

}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #AAA;
}

.tick text{
    font-size:12px;
    font-family: Helvetica Neue, Helvetica, Arial;
}

.x.axis text{
    visibility:hidden;
}

.legendAvg text{
    font-size:12px;
}


.legendUsers text{
    font-size:12px;
}

#users_series{
    overflow:scroll;
}